<% include('../layouts/header.ejs') %>

<link rel="stylesheet" href="/styles/userStyles/userRegisteration.css">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMH9IH2cU3s2Ig2t/5/7x8P+o8biKjZ8pWqH9I" crossorigin="anonymous">

<div class="content-box">

    <h1>Sign In</h1>
    <p class="message-text"><%= message %></p>

    <form method="post" id="login-form">
        <input type="email" name="email" placeholder="Enter your email" required>
        <br><br>
        <div class="password-container">
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <br>

        <input type="submit" name="loginButton" value="Sign in">
        <br><br>
    </form>

    <div class="login-section-container">
        <div class="login-section">
            <a href="/user/register">Don't have an account? Sign up here.</a>
        </div>
    </div>    
    
</div>

<script src="/scripts/userRegistration.js"></script>

<% include('../layouts/footer.ejs') %>