body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-custom {
    background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

/* Action buttons */
.btn-success, .btn-secondary {
    margin-right: 10px;
}

/* Modal Styling */
.modal-content {
    padding: 20px;
    border-radius: 5px;
}

/* Button hover effects */
.btn-primary:hover, .btn-success:hover, .btn-danger:hover {
    opacity: 0.9;
}

/* Responsive Search Box */
#searchBox {
    width: 100%;
    margin-top: 10px;
}

#error-message{
    color: red;
    display: none;
    font-size: .8em;
}

#name-message{
    color: red;
    display: none;
    font-size: .8em;
}

#email-message{
    color: red;
    display: none;
    font-size: .8em;
}

#password-error{
    color: red;
    display: none;
    font-size: .8em;
}